.services-section-vertical {
  height: 40vh;
  width: 100vw;
  display: flex; /* en fila */
  flex-direction: row;
  margin: 0;
  padding: 0;
}

/* Cada banda ocupa 1/5 del ancho de la pantalla */
.service-band-vertical {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-band-vertical.dark {
  background-color: #000000;
}

.service-band-vertical.darker {
  background-color: #1a1a1a;
}

.service-card {
  background-color: transparent;
  border-radius: 15px;
  padding: 40px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-card h3 {
  font-size: 1.5rem;
  color: #ffca2c;
  transition: color 0.6s ease, text-shadow 0.6s ease;
  transform: translateZ(0); /* Optimización de rendimiento */
}

/* Movemos la transformación al contenedor interno */
.service-card:hover h3 {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 202, 44, 0.7);
}

/* Fondo gris circular detrás del icono */
.icon-wrapper {
  width: 160px;
  height: 160px;
  background-color: #e6e6e6;
  border-radius: 50%;
  transition: transform 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.icon-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(#ffca2c 0%, #ffca2c 0%, #e6e6e6 0%);
  border-radius: 50%;
  transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0);
}

.icon-wrapper:hover::before {
  background: conic-gradient(#ffca2c 0%, #ffca2c 100%, #e6e6e6 100%);
  box-shadow: 
    inset 0 0 12px rgba(255, 255, 255, 0.6),
    inset 0 0 40px rgba(255, 235, 120, 0.8),
    0 0 15px rgba(255, 202, 44, 0.4);
  filter: drop-shadow(0 0 5px rgba(255, 202, 44, 0.3));
}

.icon-wrapper img {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 1;
  transition: 
  filter 0.4s ease,
  transform 700ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.icon-wrapper:hover img {
  filter: brightness(0) invert(1);
  transform: scale(1.4);
}

.icon-wrapper:hover {
  transform: scale(0.7);
}