@use "../../../styles/breakpoints" as *;

.slider-section {
  padding: 80px 0;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
}

.section-top-divider, .section-bottom-divider {
  position: absolute;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: var(--accent-yellow);
  z-index: 2;
}

.section-top-divider {
  top: 0;
  border-bottom-left-radius: 30% 80%;
  border-bottom-right-radius: 30% 80%;
}

.section-bottom-divider {
  bottom: 0;
  border-top-left-radius: 30% 80%;
  border-top-right-radius: 30% 80%;
}

.slider-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0 auto;
  mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
}

.slider-track {
  display: flex;
  width: fit-content;
  align-items: center;
}

.slider-logo {
  flex: 0 0 33.3333%;
  width: 33.3333%;
  min-width: 33.3333%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  @include respond-down("mobile-lg") {
    padding: 0 5px;
  }

  img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: contain;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all 0.5s ease;

    @include respond-down("tablet") {
      max-width: 140px;
    }

    @include respond-down("mobile-lg") {
      max-width: 100px;
      filter: none;
      opacity: 1;
    }
  }
}

.slider-logo:nth-child(2) img {
  filter: none;
  opacity: 1;
  transform: scale(1.5);

  @include respond-down("mobile-lg") {
    transform: scale(1.3);
  }
}