/* Reset completo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita scroll horizontal */
    background-color: black; /* Para notar si algo blanco se cuela */
    scroll-behavior: smooth;
  }

  